@model EcomDemo.Model.CheckOut
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-list">
                    <h1>Checkout</h1>
                    <ul>
                        <li><a href="index.html">home</a> <span class="divider">|</span></li>
                        <li><a href="cart.html">Shopping cart</a> <span class="divider">|</span></li>
                        <li>Checkout</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="coupon-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="coupon-accordion">
                    <!-- ACCORDION START -->
                    <h3>Returning customer? <span id="showlogin">Click here to login</span></h3>
                    <div id="checkout-login" class="coupon-content">
                        <div class="coupon-info">
                            <p class="coupon-text">Quisque gravida turpis sit amet nulla posuere lacinia. Cras sed est sit amet ipsum luctus.</p>
                            <form action="#">
                                <p class="form-row-first">
                                    <label>Username or email <span class="required">*</span></label>
                                    <input type="text" />
                                </p>
                                <p class="form-row-last">
                                    <label>Password  <span class="required">*</span></label>
                                    <input type="text" />
                                </p>
                                <p class="form-row">
                                    <input type="submit" value="Login" />
                                    <label>
                                        <input type="checkbox" />
                                        Remember me
                                    </label>
                                </p>
                                <p class="lost-password">
                                    <a href="#">Lost your password?</a>
                                </p>
                            </form>
                        </div>
                    </div>
                    <!-- ACCORDION END -->
                </div>
            </div>
            <div class="col-md-6">
                <div class="coupon-accordion">
                    <!-- ACCORDION START -->
                    <h3>Have a coupon? <span id="showcoupon">Click here to enter your code</span></h3>
                    <div id="checkout_coupon" class="coupon-checkout-content">
                        <div class="coupon-info">
                            <form action="#">
                                <p class="checkout-coupon">
                                    <input type="text" placeholder="Coupon code" />
                                    <input type="submit" value="Apply Coupon" />
                                </p>
                            </form>
                        </div>
                    </div>
                    <!-- ACCORDION END -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="checkout-area">
    <div class="container">
        <div class="row">
            @using (Html.BeginForm("PlaceOrder", "MyAccount", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.UID, new { Value = Model.UID })
                @Html.HiddenFor(model => model.Cgst, new { Value = Model.Cgst })
                @Html.HiddenFor(model => model.Sgst, new { Value = Model.Sgst })
                @Html.HiddenFor(model => model.Igst, new { Value = Model.Igst })
                @Html.HiddenFor(model => model.TotalQty, new { Value = Model.TotalQty })
                @Html.HiddenFor(model => model.SubTotal, new { Value = Model.SubTotal })
                @Html.HiddenFor(model => model.TotalAmount, new { Value = Model.TotalAmount })
                <div class="col-lg-6">
                    <div class="checkbox-form">
                        <h3>Billing Details</h3>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="country-select">
                                    <label>Country <span class="required">*</span></label>
                                    <select>
                                        <option value="India">India</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="checkout-form-list">
                                    <label> Name <span class="required">*</span></label>
                                    @Html.TextBoxFor(model => model.UserName, new { placeholder = "User Name" })
                                    @*<input type="text" placeholder="User Name" />*@
                                </div>
                            </div>
                            @*<div class="col-md-6">
                                    <div class="checkout-form-list">
                                        <label>Last Name <span class="required">*</span></label>
                                        <input type="text" placeholder="" />
                                    </div>
                                </div>*@
                            @*<div class="col-md-12">
                                    <div class="checkout-form-list">
                                        <label>Company Name</label>
                                        <input type="text" placeholder="" />
                                    </div>
                                </div>*@
                            <div class="col-md-12">
                                <div class="checkout-form-list">
                                    <label>Address <span class="required">*</span></label>
                                    @Html.TextBoxFor(model => model.Address, new { placeholder = "City Name" })
                                    @*<input type="text" placeholder="City Name" />*@
                                </div>
                            </div>
                            @*<div class="col-md-12">
                                    <div class="checkout-form-list">
                                        <input type="text" placeholder="Apartment, suite, unit etc. (optional)" />
                                    </div>
                                </div>*@
                            @*<div class="col-md-12">
                                    <div class="checkout-form-list">
                                        <label>Town / City <span class="required">*</span></label>
                                        <input type="text" placeholder="Town / City" />
                                    </div>
                                </div>*@
                            @*<div class="col-md-6">
                                    <div class="checkout-form-list">
                                        <label>State / County <span class="required">*</span></label>
                                        <input type="text" placeholder="" />
                                    </div>
                                </div>*@
                            @*<div class="col-md-6">
                                    <div class="checkout-form-list">
                                        <label>Postcode / Zip <span class="required">*</span></label>
                                        <input type="text" placeholder="Postcode / Zip" />
                                    </div>
                                </div>*@
                            <div class="col-md-6">
                                <div class="checkout-form-list">
                                    <label>Email Address <span class="required">*</span></label>
                                    @Html.TextBoxFor(model => model.Email, new { placeholder = "Email Address" })
                                    @*<input type="email" placeholder="Email Address" />*@
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="checkout-form-list">
                                    <label>Phone  <span class="required">*</span></label>
                                    @Html.TextBoxFor(model => model.MobileNumber, new { placeholder = "Mobile Number" })
                                    @*<input type="text" placeholder="Mobile Number" />*@
                                </div>
                            </div>
                            <div class="col-md-12">
                                @*<div class="checkout-form-list create-acc">
                                        <input id="cbox" type="checkbox" />
                                        <label>Create an account?</label>
                                    </div>*@
                                @*<div id="cbox_info" class="checkout-form-list create-account">
                                        <p>Create an account by entering the information below. If you are a returning customer please login at the top of the page.</p>
                                        <label>Account password  <span class="required">*</span></label>
                                        <input type="password" placeholder="password" />
                                    </div>*@
                            </div>
                        </div>
                        <div class="different-address">
                            <div class="ship-different-title">
                                <h3>
                                    <label>Ship to a different address?</label>
                                    <input id="ship-box" type="checkbox" />
                                </h3>
                            </div>
                            <div id="ship-box-info" class="row">
                                @*<div class="col-md-12">
                                        <div class="country-select">
                                            <label>Country <span class="required">*</span></label>
                                            <select>
                                                <option value="volvo">bangladesh</option>
                                                <option value="saab">Algeria</option>
                                                <option value="mercedes">Afghanistan</option>
                                                <option value="audi">Ghana</option>
                                                <option value="audi2">Albania</option>
                                                <option value="audi3">Bahrain</option>
                                                <option value="audi4">Colombia</option>
                                                <option value="audi5">Dominican Republic</option>
                                            </select>
                                        </div>
                                    </div>*@
                                @*<div class="col-md-6">
                                        <div class="checkout-form-list">
                                            <label>First Name <span class="required">*</span></label>
                                            <input type="text" placeholder="" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="checkout-form-list">
                                            <label>Last Name <span class="required">*</span></label>
                                            <input type="text" placeholder="" />
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="checkout-form-list">
                                            <label>Company Name</label>
                                            <input type="text" placeholder="" />
                                        </div>
                                    </div>*@
                                <div class="col-md-12">
                                    <div class="checkout-form-list">
                                        <label>Address <span class="required">*</span></label>
                                        @Html.TextBoxFor(model => model.Address, new { placeholder = "City Name" })
                                        @*<input type="text" placeholder="City Name" />*@
                                    </div>
                                </div>
                                @*<div class="col-md-12">
                                            <div class="checkout-form-list">
                                                <input type="text" placeholder="Apartment, suite, unit etc. (optional)" />
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="checkout-form-list">
                                                <label>Town / City <span class="required">*</span></label>
                                                <input type="text" placeholder="Town / City" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="checkout-form-list">
                                                <label>State / County <span class="required">*</span></label>
                                                <input type="text" placeholder="" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="checkout-form-list">
                                                <label>Postcode / Zip <span class="required">*</span></label>
                                                <input type="text" placeholder="Postcode / Zip" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="checkout-form-list">
                                                <label>Email Address <span class="required">*</span></label>
                                                <input type="email" placeholder="" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="checkout-form-list">
                                                <label>Phone  <span class="required">*</span></label>
                                                <input type="text" placeholder="Postcode / Zip" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="order-notes">
                                        <div class="checkout-form-list">
                                            <label>Order Notes</label>
                                            <textarea id="checkout-mess" cols="30" rows="10" placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
                                        </div>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="your-order">
                        <h3>Your order</h3>
                        <div class="your-order-table table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="product-name">Product</th>
                                        <th class="product-total">Total</th>
                                    </tr>
                                </thead>
                               
                                    @foreach (var item in Model.checkOutList)
                                    {
                                        <tbody>
                                            <tr class="cart_item">
                                                <td class="product-name">
                                                    @item.ProductName <strong class="product-quantity"> × @item.CMQty</strong>
                                                </td>
                                                <td class="product-total">
                                                    @*@Html.TextBoxFor(model => model.CMQty, new { @class = "quantity-input", Value = "₹" + (@item.ProductPrice * @item.CMQty), style = "width: 100px;" })*@
                                                    @{
                                                        decimal totalPrice = item.ProductPrice * item.CMQty;
                                                        string formattedTotalPrice = totalPrice.ToString("C0", new System.Globalization.CultureInfo("en-IN"));
                                                    }

                                                    @*<span class="amount">₹@(decimal.Round(@item.ProductPrice * @item.CMQty, 2,MidpointRounding.AwayFromZero).ToString("0.00"))</span>*@
                                                    <span class="amount">@formattedTotalPrice</span>
                                                </td>
                                            </tr>
                                            @*<tr class="cart_item">
                        <td class="product-name">
                            Vestibulum dictum magna	<strong class="product-quantity"> × 1</strong>
                        </td>
                        <td class="product-total">
                            <span class="amount">£50.00</span>
                        </td>
                    </tr>*@
                                        </tbody>
                                    }
                                

                                
                                <tfoot>
                                    <tr class="cart-subtotal">
                                        <th>Cart Subtotal</th>
                                        <td>
                                        <span class="amount">₹@(Model.SubTotal.ToString("C", new System.Globalization.CultureInfo("en-IN")).Substring(1))</span>
                                        </td>
                                    </tr>
                                    <tr class="shipping">
                                        <th>GST</th>
                                        <td>
                                            <ul>
                                                <li>
                                                    <label>
                                                        CGST(2.5%): <span class="amount">₹@Model.Cgst.ToString("C", new System.Globalization.CultureInfo("en-IN")).Substring(1)</span>
                                                        @*CGST(2.5%): <span class="amount">₹@(Math.Round(Model.SubTotal * 2.5 / 100, 2, MidpointRounding.AwayFromZero).ToString("0.00"))</span>*@
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        SGST(2.5%): <span class="amount">₹@Model.Sgst.ToString("C", new System.Globalization.CultureInfo("en-IN")).Substring(1)</span>
                                                        @*SGST(2.5%): <span class="amount">₹@(Math.Round(Model.SubTotal * 2.5 / 100, 2, MidpointRounding.AwayFromZero).ToString("0.00"))</span>*@
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        IGST(2.5%): <span class="amount">₹@Model.Igst.ToString("C", new System.Globalization.CultureInfo("en-IN")).Substring(1)</span>
                                                        @*IGST(2.5%): <span class="amount">₹@(Math.Round(Model.SubTotal * 2.5 / 100, 2, MidpointRounding.AwayFromZero).ToString("0.00"))</span>*@
                                                    </label>
                                                </li>

                                            </ul>
                                        </td>
                                    </tr>
                                    <tr class="order-total">
                                        <th>Order Total</th>
                                        <td>
                                            <strong><span class="amount">₹@Model.TotalAmount.ToString("C", new System.Globalization.CultureInfo("en-IN")).Substring(1)</span></strong>
                                            @*<strong><span class="amount">₹@(Math.Round(Model.SubTotal + Model.SubTotal * 7.5 / 100, 2,MidpointRounding.AwayFromZero).ToString("0.00"))</span></strong>*@
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="payment-method">
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <h3>Select Payment Mode</h3>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <h4 class="panel-title">
                                            @*<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Direct Bank Transfer
        </a>*@
                                            @*<input type="radio" name="paymentOption" id="directBank" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">*@
                                           
                                            @Html.RadioButtonFor(model => model.PaymentMode, 1, new { @class = "form-check-input", id = "DirectBankTransfer" })
                                            <label class="form-check-label font-weight-bold" for="DirectBankTransfer">Direct Bank Transfer</label>
                                        </h4>
                                    </div>
                                    @*<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                            <div class="panel-body">
                                                <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
                                            </div>
                                        </div>*@
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingTwo">
                                        <h4 class="panel-title">
                                            @*<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Cheque Payment
        </a>*@
                                            @*<input type="radio" name="paymentOption" id="directBank" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">*@
                                           
                                            @Html.RadioButtonFor(model => model.PaymentMode, 3, new { @class = "form-check-input", id = "ChequePayment" })
                                            <label class="form-check-label font-weight-bold" for="ChequePayment">Cheque Payment</label>
                                        </h4>
                                    </div>
                                    @*<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                            <div class="panel-body">
                                                <p>Please send your cheque to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
                                            </div>
                                        </div>*@
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingThree">
                                        <h4 class="panel-title">
                                            @*<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            PayPal
        </a>*@
                                            @*<input type="radio" name="paymentOption" id="directBank" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">*@
                                            @Html.RadioButtonFor(model => model.PaymentMode, 2, new { @class = "form-check-input", id = "COD" })
                                            <label class="form-check-label font-weight-bold" for="COD">COD</label>
                                          
                                        </h4>
                                    </div>
                                    @*<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                            <div class="panel-body">
                                                <p>Pay via PayPal; you can pay with your credit card if you don’t have a PayPal account.</p>
                                            </div>
                                        </div>*@
                                </div>
                            </div>
                            <div class="order-button-payment">
                                <input type="submit" value="Place order" />
                            </div>
                        </div>
                    </div>
                </div>


            }

        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    // Add this script to handle radio button behavior with Bootstrap collapse
    //$(document).ready(function () {
    //    $('input[type="radio"]').on('change', function () {
    //        if ($(this).prop('checked')) {
    //            $($(this).attr('href')).collapse('show');
    //        }
    //    });
    //});
</script>
<!-- login-area end -->
<!--   Core JS Files   -->
<script src="~/Areas/Admin/assets/js/jquery.3.2.1.min.js" type="text/javascript"></script>
<script src="~/Areas/Admin/assets/js/bootstrap.min.js" type="text/javascript"></script>

<!--  Charts Plugin -->
<script src="~/Areas/Admin/assets/js/chartist.min.js"></script>

<!--  Notifications Plugin    -->
<script src="~/Areas/Admin/assets/js/bootstrap-notify.js"></script>

<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>

<!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
<script src="~/Areas/Admin/assets/js/light-bootstrap-dashboard.js?v=1.4.0"></script>

<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
<script src="~/Areas/Admin/assets/js/demo.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />

<script>
@*@if (TempData["OrderPlaced"] != null)
{
    <text>
    toastr.success('Your Order Has been Placed!Check Your Email!', 'Congratulations!');
                            </text>

}*@
</script>